@charset "UTF-8";
/*product create style*/
.dash_container .product_info_wrap .product_info_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 23px;
}

.dash_container .product_info_wrap .product_info_frame.price_insert_frame::before {
  content: "₩";
  display: block;
  font-family: "PretendardR";
  font-size: 16px;
  color: #E7E7E7;
  position: absolute;
  top: 14px;
  left: 16px;
}

.dash_container .product_info_wrap .product_info_frame.price_insert_frame .product_create_input {
  padding-left: 40px;
}

.dash_container .product_info_wrap .product_info_frame .product_btn_group .btn_save {
  width: 49.2%;
  height: 100%;
  border: 2px solid rgba(196, 196, 196, 0.7);
  border-radius: 5px;
  font-family: "PretendardR";
  font-size: 18px;
  color: #fff;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dash_container .product_info_wrap .product_info_frame .product_btn_group .btn_save:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dash_container .product_info_wrap .product_info_frame .product_btn_group .btn_grade {
  width: 32.8%;
  height: 100%;
  border: 2px solid rgba(196, 196, 196, 0.7);
  border-radius: 5px;
  font-family: "PretendardR";
  font-size: 18px;
  color: #fff;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dash_container .product_info_wrap .product_info_frame .product_btn_group .btn_grade:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dash_container .product_info_wrap .product_info_frame .product_btn_group .btn_grade.active {
  border-color: #EE8AFF;
}

.dash_container .product_info_wrap .product_info_frame .product_btn_group .btn_grade.active:hover {
  background-color: transparent;
}

.dash_container .product_info_wrap .product_info_frame .product_create_input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(196, 196, 196, 0.7);
  background-color: transparent;
  padding-left: 16px;
  font-family: "PretendardR";
  font-size: 16px;
  color: #E7E7E7;
  margin-bottom: 10px;
}

.dash_container .product_info_wrap .product_info_frame .product_create_input::-webkit-input-placeholder {
  /* Edge */
  font-family: "PretendardR";
  font-size: 16px;
  color: rgba(196, 196, 196, 0.7);
}

.dash_container .product_info_wrap .product_info_frame .product_create_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "PretendardR";
  font-size: 16px;
  color: rgba(196, 196, 196, 0.7);
}

.dash_container .product_info_wrap .product_info_frame .product_create_input::-ms-input-placeholder {
  font-family: "PretendardR";
  font-size: 16px;
  color: rgba(196, 196, 196, 0.7);
}

.dash_container .product_info_wrap .product_info_frame .product_create_text {
  width: 100%;
  height: 197px;
  border-radius: 5px;
  border: 2px solid rgba(196, 196, 196, 0.7);
  background-color: transparent;
  padding-left: 16px;
  font-family: "PretendardR";
  font-size: 16px;
  color: #E7E7E7;
  margin-bottom: 10px;
  padding: 20px 20px;
  resize: none;
}

.dash_container .product_info_wrap .product_info_frame .product_create_text::-webkit-input-placeholder {
  /* Edge */
  font-family: "PretendardR";
  font-size: 16px;
  color: rgba(196, 196, 196, 0.7);
}

.dash_container .product_info_wrap .product_info_frame .product_create_text:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "PretendardR";
  font-size: 16px;
  color: rgba(196, 196, 196, 0.7);
}

.dash_container .product_info_wrap .product_info_frame .product_create_text::-ms-input-placeholder {
  font-family: "PretendardR";
  font-size: 16px;
  color: rgba(196, 196, 196, 0.7);
}
