/*account style*/
.mypage_wrap{
    .mypage_info_frame{
        .login_info_box{
            .account_input{
                width: 100%;
                height: 53px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgba(255,255,255,0.22);
                font-family: "PretendardM";
                font-size: 20px;
                color: #E1E1E1;
                padding-top: 22px;
            }
            .account_input::-webkit-input-placeholder {
                /* Edge */
                font-family: "PretendardL";
                font-size: 20px;
                color: rgba(196, 196, 196, 0.7);
            }
            .account_input:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-family: "PretendardL";
                font-size: 20px;
                color: rgba(196, 196, 196, 0.7);
            }
            .account_input::-ms-input-placeholder {
                font-family: "PretendardM";
                font-size: 20px;
                color: rgba(196, 196, 196, 0.7);
            }
        }
    }
}